<footer class="bg-gray-800 text-white mt-auto">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"></div>
        <div class="flex justify-between items-center h-16">
            <div class="text-sm text-gray-300 text-center">
                &copy; <%= new Date().getFullYear() %> Hardware Management App. All rights reserved.
            </div>
        </div>
    </div>
</footer>

</body>

</html>